#opendemate-container-first{
    /* margin-left: 17%;  */
    padding: 0;
    margin-right: 0;
    text-align: center;
}

.firstLink{
    width: -webkit-fill-available;
    margin-left: 17%;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    grid-template-columns: repeat(2,auto);
    gap: 2%;
    text-align: center;
    margin-right: 1%;
    padding: 5%;
}

#firstLink-firstdiv{
    border-radius: 4vw;
}

#firstLink-firstdiv-firstimg{
    /* border: 2px solid black; */
    width: -webkit-fill-available;
    aspect-ratio: 2;
    object-fit: cover;
}

#firstLink-seconddiv{
    border-radius: 4vw;
}

#firstLink-firstdiv-seconddiv{
    /* border: 2px solid black; */
    width: -webkit-fill-available;
    aspect-ratio: 2;
    object-fit: cover;
}

#firstLink-thirddiv{
    border-radius: 4vw;
}

#firstLink-firstdiv-thirdimg{
    /* border: 2px solid black; */
    width: -webkit-fill-available;
    aspect-ratio: 2;
    object-fit: cover;
}

#firstLink-fourthdiv{
    border-radius: 4vw;
}

#firstLink-firstdiv-fourthimg{
    /* border: 2px solid black; */
    width: -webkit-fill-available;
    aspect-ratio: 2;
    object-fit: cover;
}

@media screen and (max-width: 768px){
    #opendemate-container-first{
        padding: 0;
        text-align: center;
        margin: 0;
        max-width: -webkit-fill-available;
    }
    
    .firstLink{
        width: -webkit-fill-available;
        display: grid;
        display: -ms-grid;
        display: -moz-grid;
        grid-template-columns: repeat(2,auto);
        gap: 2%;
        text-align: center;
        margin: 2vh;
    }
    
    #firstLink-firstdiv{
        
    }
    
    #firstLink-firstdiv-firstimg{
        /* border: 2px solid black; */
        width: -webkit-fill-available;
        aspect-ratio: 2;
        object-fit: cover;
    }
    
    #firstLink-seconddiv{
        
    }
    
    #firstLink-firstdiv-seconddiv{
        /* border: 2px solid black; */
        width: -webkit-fill-available;
        aspect-ratio: 2;
        object-fit: cover;
    }
    
    #firstLink-thirddiv{
    
    }
    
    #firstLink-firstdiv-thirdimg{
        /* border: 2px solid black; */
        width: -webkit-fill-available;
        aspect-ratio: 2;
        object-fit: cover;
    }
    
    #firstLink-fourthdiv{
    
    }
    
    #firstLink-firstdiv-fourthimg{
        /* border: 2px solid black; */
        width: -webkit-fill-available;
        aspect-ratio: 2;
        object-fit: cover;
    }
}