.admin-dashbord {
  height: auto;
  background: rgba(238, 242, 242, 1);
}

.admin-dash-horizontal-nav-maindiv {
  padding: 2rem;
  margin-left: 15%;
  margin-right: 1%;
  border-bottom: 2px solid rgba(217, 217, 217, 1);
}

.dash-horizontal-nav-subdiv {
}

#admin-dashboard-nav {
}

#admin-dash-ul-nav {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  /* margin: 0;
  padding: 0;
  position: relative;
  bottom: 9rem;
  height: -webkit-fill-available; */
}

.dash-hori-inp {
  position: relative;
  background: rgba(214, 234, 248, 1);
  border-radius: 8px;
  padding: 6px;
  border: rgba(214, 234, 248, 1);
  width: 20rem;
  outline: none;
}

.dash-hori-inp::placeholder {
  position: relative;
  left: 1.5rem;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: black;
}

.dash-hori-icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: rgba(52, 152, 219, 1);
}

.dash-nav-img {
  width: 80px;
  border-radius: 50px;
  height: 80px;
}

.dash-horizontal-nav-ul {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
}

.dash-horizontal-nav-li {
  position: relative;
}

.dash-horizontal-nav-divofli {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  width: -webkit-fill-available;
}

.dash-horizontal-nav-2nddiv {
  width: -webkit-fill-available;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 30rem;
  border-left: 2px solid rgba(206, 206, 206, 1);
}

.dash-horizontal-nav-imgdiv {
  margin-right: 1rem;
}

.dash-horizontal-nav-txtdiv {
  .dash-horizontal-nav-txt {
    font-size: 1.5rem;
    margin: 0;
  }

  .dash-horizontal-nav-para {
    font-size: 1.2rem;
    margin: 0;
  }
}

.waana-flex-this-li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: -webkit-fill-available;
  justify-content: end;
}

.horizontal-nav-li-icon {
  position: absolute;
  top: 0.4rem;
  font-size: 1.5rem;
  z-index: 1;
}

.icon-hidden {
  display: none;
}

.email-top-number-show {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 23.5rem;
  top: 1rem;
  width: 1.3rem;
  border-radius: 50px;
  height: 1.3rem;
  text-align: center;
  background: rgba(52, 152, 219, 1);
  color: white;
  font-size: 16px;
}

.email-top-number-show2 {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 21.1rem;
  top: 1.1rem;
  width: 1.2rem;
  border-radius: 50px;
  height: 1.2rem;
  text-align: center;
  background: rgba(52, 152, 219, 1);
  color: white;
  font-size: 14px;
}

/*-------------------Dashbord listing user CSS------------------------------------ */
.dashbord-userlist-div {
  margin-left: 15%;
  margin-right: 1%;
  margin-top: 2%;
  /* background: linear-gradient(90.3deg, rgba(255, 255, 255, 0.75) 0.06%, rgba(255, 255, 255, 0.45) 100%); */
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 2rem;
}
.userlist-main-div {
}

.userlist-ui {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-right: 2rem;
}

.userlist-div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 30rem;
  justify-content: space-around;

  .userlist-li-div {
    background: rgba(245, 245, 245, 1);
    border-radius: 31px;
    padding: 6px;
  }
  .li-list {
  }
}

.userlist-input-search-div {
  background: rgba(214, 234, 248, 1);
  position: relative;
  border-radius: 8px;
  padding-left: 1rem;
  border: none;
  outline: none;

  .userlist-input-search {
    background: rgba(214, 234, 248, 1);
    border-radius: 8px;
    border: none;
    width: 15rem;
    padding: 5px;
    outline: none;
  }
  .userlist-input-search::placeholder {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(44, 62, 80, 1);
    text-align: right;
  }
}

.userlist-search-icon {
  position: absolute;
  top: 0.65rem;
  left: 0.2rem;
}

/*--------------------The List of user data CSS---------------------------------- */
.wanna-grid-user-list {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
}

.user-list {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  gap: 2rem;
}

.wanna-flex-do-it {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 133px 37px 0px rgba(0, 0, 0, 0);
  border-radius: 30px;
  padding: 1rem;
}

.user-list-div1 {
  /* border: 2px solid black; */
  width: max-content;
  padding: 4px;
}

.list-div1-img {
  width: 100px;
  height: 100px;
  border: 1px;
  border-radius: 85px;
}

.user-list-div2 {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  margin-left: 10px;
  width: -webkit-fill-available;
  .user-list-div2-subdiv1 {
    /* border: 1px solid green; */
    height: fit-content;
    .subdiv1-h3 {
      font-size: 20px;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: 0em;
      /* text-align: left; */
      color: rgba(44, 62, 80, 1);
      margin: 0;
    }
  }
  .user-list-div2-subdiv2 {
    /* border: 1px solid rgb(127, 5, 127); */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
    height: fit-content;

    .subdiv2-h3 {
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0em;
      /* margin-left: 10px; */
      margin-bottom: 0;
    }
    .subdiv2-h4 {
      margin-bottom: 0;
      font-size: 11px;
      font-weight: 400;
    }
    .div2-subdiv2-1 {
      display: grid;
      display: -moz-grid;
      display: -ms-grid;
      width: -webkit-fill-available;
      /* border: 2px solid salmon; */
      border-radius: 40px;
      background: rgba(191, 231, 208, 1);
      padding: 6px;
      align-content: center;
      justify-content: center;
      height: max-content;
    }
    .div2-subdiv2-2 {
      display: grid;
      display: -moz-grid;
      display: -ms-grid;
      width: -webkit-fill-available;
      /* border: 2px solid salmon; */
      border-radius: 40px;
      background: rgba(52, 152, 219, 0.2);
      padding: 6px;
      align-content: center;
      justify-content: center;
      height: max-content;
    }
    .div2-subdiv2-3 {
      display: grid;
      display: -moz-grid;
      display: -ms-grid;
      width: -webkit-fill-available;
      /* border: 2px solid transparent; Set a transparent solid border */
      border-image: linear-gradient(161.3deg, #ffffe5 2.1%, #ffc74f 80.81%) 1; /* Specify the border-image with slice value '1' */
      padding: 6px;
      border-radius: 40px;
      background-clip: padding-box; /* Ensure the background is not affected by border-radius */
      background: rgba(255, 255, 184, 0.5);
      align-content: center;
      justify-content: center;
      height: max-content;
    }
    .div2-subdiv2-4 {
      display: grid;
      display: -moz-grid;
      display: -ms-grid;
      width: -webkit-fill-available;
      border-radius: 40px;
      border: 2px solid rgba(52, 152, 219, 1);
      padding: 6px;
      align-content: center;
      justify-content: center;
      height: max-content;
    }
  }
}

#h3-1-subdiv {
  color: rgba(39, 174, 96, 1);
}

#h3-2-subdiv {
  color: rgba(52, 152, 219, 1);
}

#h3-3-subdiv {
  color: rgba(238, 119, 68, 1);
}

#h3-4-subdiv {
  color: rgba(52, 152, 219, 1);
}

/*-----------------------Pagination----------------------*/
.pagination-main-div {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.pagination-1stdiv {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
}

.firstdiv-ofh3 {
  margin-right: 10px;
}

.ofh3 {
  font-size: 1rem;
  margin: 0;
  color: rgba(44, 62, 80, 1);
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
}

.seconddiv-ofh4 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 1);
  align-self: end;
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.ofh4 {
  font-size: 0.8rem;
  margin: 0;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
}

.pagination-2nddiv {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  color: rgba(52, 152, 219, 1);
  border-radius: 100px;
}

.page-more-button {
  color: rgba(52, 152, 219, 1);
  border-radius: 100px;
  border: 2px solid rgba(52, 152, 219, 1);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  padding-right: 30px;
  padding-left: 30px;
}

.pagination-3rddiv {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.admin-strategies-main-container {
  border-radius: 8px;
  text-align: center;
  padding: 2rem;
}

.main-div-admin-edit-input {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: 5px;
}

.admin-edit-input {
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  border-radius: 10px;
}

.ReactModal__Content.ReactModal__Content--after-open {
  background: none !important;
  overflow: hidden !important;
  inset: 0 !important;
}

/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 700px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border0-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn {
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

footer.modal__footer {
  display: flex;
  gap: 1rem;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
