.orange {
    width: 288px;
    height: 288px;
    flex-shrink: 0;
    position: absolute;
    border-radius: 288px;
    background: #f39c12;
    left: 12rem;
    top: 15rem;
  }
  
  .green {
      /* width: 184px;
      height: 184px; */
      transform: rotate(1.977deg);
      /* flex-shrink: 0;
      position: absolute;
      fill: var(--27-ae-60, #27ae60);
      stroke-width: 12px;
      stroke: var(--27-ae-60, #27ae60);
      left: 59rem;
      top: 22rem; */
  }

  .shape-img2-green{
    display: inline;
    /* border: 2px solid; */
    position: absolute;
    transform: translate(52vw, 20vw);
  }

  .shape-img3-blue{
    /* border: 2px solid; */
    display: inline;
    position: absolute;
    right: 0;
    top: 63vh;
  }
  
  .blue {
    /* position: absolute;
    right: -30rem;
    top: 25rem; */
}

@media (max-width: 768px) {
  .orange {
    width: 200px; /* Adjust size for smaller screens */
    height: 200px;
  }

  .green {
    width: 120px;
    height: 120px;
  }

  /* .container {
    flex-direction: column; 
  } */
}