.verticle-navbar {
  width: auto;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  background: #3498db;
  box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  left: 0;
  top: 0;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  align-content: start;
  gap: 1rem;
}

.nav-ul {
  /* display: flex; */
}

.ul-list {
  /* list-style-type: none;
  margin: 10px;
  padding: 7px;
  text-wrap: nowrap; */
  /* list-style-type: none; */
  /* position: absolute;
  height: 40rem;
  display: grid;
  display: -ms-grid;
  display: -moz-grid; */
}

.ul-list {
  list-style-type: none;
  margin: 6px;
  padding: 0px;
  display: -moz-grid;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}

.vertnav-ul-li {
  height: fit-content;
  padding: 4px;
}

.iconhome {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: -webkit-fill-available;
  height: -moz-fit-content;
  display: flex;
  height: fit-content;
  border-radius: 0px 50px 50px 0px;
  /* opacity: 0.7; */
  /* background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 52.38%); */
  /* border: 2px solid; */
  /* margin-left: -2.3rem; */
  /* justify-content: space-evenly; */
}

.iconhome svg {
  width: 30px;
  height: 31.2px;
  flex-shrink: 0;
  fill: #fff;
  stroke-width: 2px;
  stroke: #fff;
  margin-right: 1rem;
  /* margin-top: 18px; */
}

.iconimg {
  margin-right: 23px;
  position: relative;
  /* top: 10px; */
  width: 19px;
  height: 20px;
  z-index: -1;
}

li#home {
  /* color: #fff; */
  /* font-family: Montserrat; */
  /* font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: center;
  position: relative;
  right: 4.3rem; */
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

li#acc {
  /* display: flex; */
}

span.link-text {
  display: inline-table;
  width: max-content;
  color: white !important;
}

span.link-text:active {
}

/* .ul-list {
  list-style-type: none;
  width: -webkit-fill-available;
  margin: 0;
  text-align: left;
  display: contents;
} */

.logo {
  text-align: -webkit-center;
  margin-top: 1.6vh;
  height: max-content;
  width: -webkit-fill-available;
}

.logo-img {
  width: 50px;
}

h1#lg {
  color: #eef2f2;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hamburger-icon {
  display: none;
  /* Hide by default for larger screens */
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.block {
  height: -webkit-fill-available;
  background-color: #3498db;
  position: fixed;
  /* border-radius: 13px; */
  top: 0px;
  left: 0;
  width: auto;
  z-index: 1;

  .logo {
    text-align: -webkit-center;
    margin-top: 1.6vh;
    height: max-content;
    width: -webkit-fill-available;
    /* border: 2px solid; */
    /* width: fit-content; */
  }

  .ul-list {
    list-style-type: none;
    margin: 0;
    text-align: left;
    /* display: grid; */
    /* border: 2px solid; */
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fill-available;

    .iconhome {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: -webkit-fill-available;
      height: -moz-fit-content;
      height: fit-content;
      border-radius: 0px 50px 50px 0px;
      /* opacity: 0.7; */
      background: linear-gradient(
        90deg,
        #fff 0%,
        rgba(255, 255, 255, 0) 52.38%
      );
      /* border: 2px solid; */
      /* margin-left: -2.3rem; */
      justify-content: space-between;
      margin-top: 10px;

      svg {
        /* width: 30px;
      height: 31.2px;
      flex-shrink: 0;
      fill: #fff;
      stroke-width: 2px;
      stroke: #fff; */
        margin-top: 11px;
      }

      li#home {
        /* color: #fff; */
        /* font-family: Montserrat; */
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        align-self: center;
        position: relative;
        right: 4.3rem;
        top: -2vh;
      }
    }

    .vertnav-ul-li {
      height: -moz-fit-content;
      height: fit-content;
      padding: 4px;
      /* border: 2px solid; */
      margin-top: 4vh;
    }
  }
}

.close-btn {
  display: none;
}

.dashbord-nav-h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.2rem;
}

.dashbord-horiz {
  position: absolute;
  top: 6rem;
  width: -webkit-fill-available;
  border-width: 1px;
  border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 48.43%,
      rgba(255, 255, 255, 0.15) 99.04%
    )
    1;
  border-style: solid;
}

@media (max-width: 768px) {
  .hamburger-icon {
    display: block;
    position: absolute;
    color: black;
    top: 1vh;
    left: 3vh;
    font-size: xxx-large;
  }

  .verticle-navbar {
    display: none;
  }

  .close-btn {
    display: block;
    position: absolute;
    z-index: 1;
    font-size: xx-large;
    top: 7px;
    left: 10.7rem;
    color: beige;
  }
}
