.mainfooter {
  position: relative;
  /* background: rgba(15, 23, 42, 1);
    color: rgba(228, 228, 231, 1);
    display: flex;
    padding: 4rem;
    justify-content: space-between; */
  gap: 2rem;
  background: rgba(15, 23, 42, 1);
  color: rgba(228, 228, 231, 1);
  display: grid;
  padding: 1rem;
  justify-items: center;
  margin-top: 1rem;
}
.footer-subb1 {
  gap: 3rem;
  padding: 1rem;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  /* align-items: center; */
  justify-content: space-between;
  border-bottom: 1.2px solid rgba(30, 41, 59, 1);
}
.footer-content-div {
  /* width: 25%; */
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  margin-right: 1rem;
}
.algo-img-footer {
}
.footer-paraa {
}
.footer-icons-show {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  gap: 3rem;
  /* justify-self: center;
  justify-content: center;
  align-content: center;
  justify-items: center; */
}
.footer-icn {
  background: black;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  border-radius: 88px;
  padding: 10px;
  transition: all 0.3s ease 0s;
}
.footer-icn:hover {
  background: rgba(37, 99, 235, 1);
  transition: all 0.3s ease 0s;
}
.footer-firstof-h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.8px;
  text-align: left;
}
.logooo-imagee {
  width: 30%;
}
.footer-subb2 {
}
.footer-firstof-h5 {
  font-size: 12.6px;
  font-weight: 400;
  line-height: 19.8px;
  text-align: center;
  color: rgba(161, 161, 170, 1);
}
.store-img {
  width: 70%;
}
.paa-para {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

#comp-blue-col {
  color: rgba(52, 152, 219, 1);
}
#help-blue-col {
  color: rgba(52, 152, 219, 1);
}
#res-blue-col {
  color: rgba(52, 152, 219, 1);
}
#inst-blue-col {
  color: rgba(52, 152, 219, 1);
}
.footer-newsletter {
  background-image: url("../../assets/icons/shape.png"),
    url("../../assets/icons/shape\ \(1\).png") !important;
  background-position: right bottom, left top !important;
  background-repeat: no-repeat !important;
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  gap: 2rem;
  padding: 2rem;
  background: rgba(52, 152, 219, 1);
  position: absolute;
  border-radius: 20px;
  bottom: 25rem;
}
.footer-newsletter-firstdiv {
  text-align: center;
}
.footer-newsletter-h2 {
}
.newsletter {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-evenly;
  gap: 2rem;
}
.newsletter-inputs {
  background: transparent;
  color: white;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 5px;
  border: 0.98px solid rgba(212, 212, 216, 1);
  outline: none;
}
.newsletter-inputs::placeholder {
  color: white;
  font-size: 15.73px;
  font-weight: 400;
  line-height: 25.57px;
  text-decoration-color: white;
}
.newsletter-btn {
  border-radius: 8px;
  padding-right: 2rem;
  padding-left: 2rem;
  background: rgba(0, 31, 63, 1);
  color: white;
  line-height: 35px;
  outline: none;
  border: none;
}
.footer-firstof-h4:hover{
  color: #3498db;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .mainfooter {
    width: -webkit-fill-available;
  }
  .footer-subb1 {
    gap: 0;
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-template-columns: repeat(3, auto);
  }
  .footer-content-div {
    width: -webkit-fill-available;
  }
  .algo-img-footer {
  }
  .footer-paraa {
  }
  .footer-icons-show {
    gap: 1rem;
  }
  .footer-icn {
  }
  .footer-icn:hover {
  }
  .footer-firstof-h4 {
    font-size: 10px;
  }

  .logooo-imagee {
  }
  .footer-subb2 {
    width: -webkit-fill-available;
  }
  .footer-firstof-h5 {
  }
  .store-img {
  }
  .paa-para {
    font-size: 10px;
  }

  #comp-blue-col {
  }
  #help-blue-col {
  }
  #res-blue-col {
  }
  #inst-blue-col {
  }
  .footer-newsletter {
    gap: 2rem;
    padding: 1rem;
    bottom: 34rem;
    width: -webkit-fill-available;
  }
  .footer-newsletter-firstdiv {
  }
  .footer-newsletter-h2 {
  }
  .newsletter {
  }
  .newsletter-inputs {
    background: transparent;
    color: white;
    padding: 0;
    width: 8rem;
    height: 2rem;
  }
  .newsletter-inputs::placeholder {
  }
  .newsletter-btn {
    padding: 0;
  }
}

@media screen and (max-width: 440px)  {
  .footer-newsletter {
    gap: 0.4rem;
    padding: 0.3rem;
    bottom: 34rem;
    width: -webkit-fill-available;
  }
  .newsletter {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    gap: 0.3rem;
  }
}
