.MyStrategy {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;;
    width: -webkit-fill-available;
    justify-content: space-evenly;
    margin-left: 19%;
    box-sizing: border-box;
    margin-top: 8vh;
    gap: 1vw;
    margin-right: 1vw;

}

.strategy-1 {
    width: auto;
    height: auto;
    border-radius: 25px;
    background: linear-gradient( 90deg, rgba(255, 255, 255, 0.75) 0.06%, rgba(255, 255, 255, 0.45) 100% );
    box-shadow: 0px 28px 62px 0px rgba(0, 0, 0, 0.1), 0px 112px 112px 0px rgba(0, 0, 0, 0.09);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    box-sizing: border-box;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;

  }

.strhead {
  color: var(--2-c-3-e-50, #2c3e50);
  text-align: center;
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  box-sizing: border-box;
}

.strpara {
  color: var(--2-c-3-e-50, #2c3e50);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
}

.strategybtnn {
  width: -webkit-fill-available;
  display: -webkit-inline-flex;
  display: inline-flex;
  padding: 9px 33px;
  justify-content: center;
}

.obj-img1{
    position: absolute;
    left: 14rem;
    top: 13.5rem;
}

.obj-img2{
  position: absolute;
  left: 35.5rem;
  top: 26.5rem;
}

/* .btn {
  color: #3498db;
  text-align: center;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 127.734%;
  background-color: white;
  border: none;
} */

@media screen and (min-width: 1111px) and (max-width: 1340px) {
  .MyStrategy {
    margin-left: 20%;
    gap: 2vw;
  }
 
}
@media only screen and (max-width: 920px){
  .MyStrategy {
    margin-left: 23%;
  }
  .strhead{
       font-size: 38px;
  }
}


@media screen and (max-width: 768px) {
           .MyStrategy{
            font-size: 16px !important;
            margin-left: 0;
            flex-wrap: wrap;
            /* grid-template-columns: max-content; */
           }
}