/* .Container {
  display: flex;
  width: 1920px;
  height: 1667px;
  background: #eef2f2;
  box-sizing: border-box;
} */

/* @media screen and (max-width: 768px) {
  .Container {
    flex-direction: column;
  }
} */


